
@font-face {
	font-family: 'planea';
	src:url('../fonts/planea.eot?p9off9');
	src:url('../fonts/planea.eot?#iefixp9off9') format('embedded-opentype'),
		url('../fonts/planea.woff?p9off9') format('woff'),
		url('../fonts/planea.ttf?p9off9') format('truetype'),
		url('../fonts/planea.svg?p9off9#planea') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'planea';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-newspaper:before {
	content: "\e601";
}
.icon-address-book:before {
	content: "\e602";
}
.icon-users:before {
	content: "\e603";
}
.icon-briefcase:before {
	content: "\e604";
}
.icon-earth:before {
	content: "\e605";
}
.icon-point-up:before {
	content: "\e606";
}
.icon-arrow-right:before {
	content: "\e607";
}
.icon-arrow-left:before {
	content: "\e608";
}
.icon-facebook:before {
	content: "\e609";
}
.icon-twitter:before {
	content: "\e60a";
}
.icon-user:before {
	content: "\e60b";
}
