@import "nib"
			
@import "iconos.styl"



$azul = #011a27
$celeste = #8db7c5
$verde = #009b3e
$cafe = #736841
$rojo = #EE4035
$gris = #9da0a2

html,body
	width 100%
	height 100%
	font-family 'Lato', sans-serif
	font-weight 300
	font-size 16px
	color #FFF

a, a:visited
	color #FFF
	text-decoration none

#wrap
	position absolute
	left 0
	top 0
	width 100%
	height 100%
	overflow hidden

	#background-overlay, #background-overlay .image
		position absolute
		left 0
		top 0
		width 100%
		height 100%
		z-index -10
		background-size cover


	#site-header:hover
		width 210px
		#menu
			a
				color hsla(200, 20%, 70%, 1)
				opacity 0.5

	#site-header
		background rgba(1,26,39,.6) 
		position absolute
		left 0
		top 0
		bottom 0
		padding 0px
		width 90px
		overflow hidden
		z-index 10
		box-shadow  2px 1px 5px rgba(0,0,0,0.5)
		transition all .5s 

		#logo
			display block
			height 135px
			position relative
			left 15px
			top 30px
		#btn_nav
			display none
		#menu
			position relative

			ul
				margin 0
				padding 0
				line-height 50px
				text-transform uppercase
				font-size 14.5px
				transition-property opacity

				li 
					border-bottom 1px solid hsla( 200, 20%, 50%, 0.3 )
					overflow hidden
					height 50px

					a 
						
						color hsla( 0, 0%, 100%, 0)
						display block
						position relative
						padding-left 73px
						background-repeat no-repeat
						opacity 0.3
						transition all .5s 


						span //.icon-home,.icon-user,.icon-newspaper,.icon-briefcase,.icon-users,.icon-address-book,.icon-earth
							font-size 2em
							display block
							width 32px
							height 32px
							position absolute
							left 31px
							top 9px
							opacity 1
							color #FFF

						&:hover
							color #FFF
							opacity 1
				.current
					box-shadow  inset 0px 0px 20px hsla( 0, 0%, 0%, 0.9 )
					background #1b495d
	#content
		position absolute
		width 100%
		left 100px
		top 0
		bottom 0
		overflow hidden
		transition-property left
		
		#contenido
			width 100%
			height 100%
			position absolute
			top 0%
			transition-property top, left

			#menu-top
				#contact 
					float right
					margin-right 180px
					position relative
					z-index 101
					.mobile-contact
						font-weight 700
						text-transform uppercase
						text-shadow 1px 1px 1px #000
						display none


				.menu-top-item
					background rgba(1,26,39,.6) //rgba(0, 0, 0, 0.6)
					color #FFF
					cursor pointer
					display inline-block
					font-family 'Lato', sans-serif
					font-size 14px
					font-weight 300
					height 70px
					margin-right .1em
					padding-top 1em
					text-align center
					vertical-align top
					width 215px
					border 1px solid rgba(255,255,255,1)
					box-shadow 0px 0px 35px rgba(255,255,255,1)


					.icon-point-up
						position absolute
						top 47px
						left 10px
						
					p 
						color #fff
						font-size 12px
						margin 0 0 .2em 0

						a 
							color #FFF
							text-decoration none

						a:hover
							text-decoration underline
					&:hover
						background rgba(1,26,39,1)
					

					.border-item
						display none
						height 5px
						margin 5px auto 0
						width 90%



					span.icon
						display block
						font-size 2em
						margin-bottom 0.2em
						//opacity .5
						text-align center

					span 
						font-size 12px
						text-decoration none 

				
			#contactbox
				float right
				margin-right 176px

				.column1, .column2
					display inline-block
					vertical-align top
					width 45%
				.column1
					margin-right 40px
				h1
					color $verde
					font-family 'Lato', sans-serif
					font-size 24px
					margin-bottom 10px
					margin-top 0
					text-transform capitalize

				p 
					margin-bottom 6px
					margin-top 0
					//#formulario, #formularioC
						
				label
					display inline-block
					font-size 14px
					margin-bottom 2px
					color $cafe

				label.error
					color $rojo
				
				input[type="text"],input[type="email"],textarea, select
					-moz-appearance none
					-webkit-appearance none
					//font-size 13px
					appearance none
					background-image linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%)
					border 1px solid #c3c3c3
					border-radius 5px
					color #444
					width 100%
				
				
				button,input[type="submit"]
					background $verde
					border none
					clear both
					color white
					cursor pointer
					float right
					font-size 12px
					height 26px
					margin-right 4px
					width 80px
				

				

				.terms-text
					font-size 13px
				.mensaje
					margin-top 10px
					font-size 12px
					color $cafe
						
					span
						border-radius 5px
						padding 0.5em
						width 85%
					.ok
						background #dff0d8
						border 1px solid #d6e9c6
					.error
						background #f2dede
						border 1px solid #eed3d7

				#dialog
					border-bottom 5px solid $azul
					width 350px

					.close
						background $celeste

				.window
					background white
					display none
					padding 20px
					position fixed
					top 90px
					z-index 9999

					.close
						color white
						padding 24px 6px 6px 6px
						position absolute
						right 10px
						text-decoration none
						top 0px

			section, div[class*="item-page-"], .blog-featured 
				display block
				position absolute
				width 80%
				padding 1% 4%
				height 100%
				

			#home, .item-page-home, .blog-featured,  .item-page-about, .item-page-services,.item-page-alianz, .item-page-rh, .item-page-rs
				top 8%
				height 52%
				//padding-top 0

				h1
					font-size 32px
					color $azul
					background #FFF 
					border-bottom 5px solid #00a850;
					max-width 9em
					padding .2em
					text-transform uppercase
				h2
					//background $verde
					color #FFF
					padding .2em
					display block
				p 
					font-size 17px
					line-height 23px
					//max-width 850px
					color #FFF
				a 
					color $verde
				.description
					margin-top 70px
					margin-left 35px
					height 80%
			.item-page-alianz
				h1
					max-width 13em
			.item-page-rh
				h1 
					max-width 11em
			.item-page-services
				h1 
					max-width 6em
			#work, .item-page-work 
				top 0
				padding-top 3%
				padding-bottom 55px
				
				#proyectos
					
					position relative
					left 0
					top 60px
					width 100%
					height 100%
					perspective 1001px
					.cycle-slideshow

						.slide-diseno
							width 1024px
							height 600px
							border 5px solid #fff
							box-shadow  3px 3px 3px rgba(0,0,0,0.5)
							margin-left 25%

							img 
								width 100%
								height 100%
								
						
						.info
							left 0//125px
							width 350px
							top 0
						

					.cycle-pager
						text-align center
						margin-top 10px
						
						div 
							display inline-block
							vertical-align top
							border 5px solid $verde
							margin .5em
							width 180px 
							height 100px
							cursor pointer	

							img 
								width 100%
								height 100%
								

							.slide
								background-position center top
								background-repeat no-repeat
								height 100%
								text-align center
								width 100%

					.proyecto
						width 100%
						height 100%
						position absolute
						left 0
						top 0
						//transition-property transform, opacity

						.info
							position absolute
							z-index 101
							//transition-property opacity
							h1
								background #FFF
								text-transform uppercase
								color $azul
								padding .5em
								font-size 1.5em
								border-bottom 4px solid #00a850
						.images
							position absolute
							width 100%
							height 100%
							left 0
							top 0%
							margin 0
							padding 0
							list-style none
							z-index 10
							transform-style preserve-3d
							perspective 1001px
							
							
							
							li 
								position absolute
								left 0
								top 0%
								background-repeat no-repeat
								opacity 0.999
								background-size cover;
								transition all .5s
								
								cursor pointer
								
								
								img 
									width 100%
									border 5px solid #fff
									
									
								&:hover
									top: -1%
									


								
					
					

				
					.layout-corner-right
						.info
							right: 16%;
							width: 25%;
							top: 4%;
							text-align left
							h1
								margin-bottom 0
								border-bottom 4px solid #00a850

							.descripcion
								font-size 13px
						.images
							color #fff

							img 
								box-shadow  -5px 5px 5px rgba(0,0,0,0.5) 
							
							.img1 
								left 49%
								//top 26%
								z-index 102
							
							.img2 
								left 20%
								//top 28%
								z-index 101

							.img3 
								left 22%
								//top 15%
								z-index 100

							.img4 
								left 30%
								//top 15%
								z-index 99

					.layout-corner-right-2
						.info
							right: 2%;
							width: 22%;
							top: 32%;
							text-align left
							h1
								margin-bottom 0
								border-bottom 4px solid #007abf

							.descripcion
								font-size 13px
						.images
							color #fff
							
							
							img 
								box-shadow  5px 5px 5px rgba(0,0,0,0.5) 
							
							.img1 
								left 40%
								//top 26%
								z-index 102
							
							.img2 
								left 20%
								//top 28%
								z-index 101

							.img3 
								left 22%
								//top 15%
								z-index 100

							.img4 
								left 30%
								//top 15%
								z-index 99

					.layout-side-left
						.info
							top 212px
							width: 20%;
							text-align left
							h1
								margin-bottom 0
								border-bottom 4px solid #007abf

							.descripcion
								font-size 13px
						.images
							color #fff
							
							img 
								box-shadow  5px 5px 5px rgba(0,0,0,0.5) 
							
							.img1 
								left 25%
								//top 26%
								z-index 102
							
							.img2 
								left 35%
								//top 28%
								z-index 101

							.img3 
								left 50%
								//top 15%
								z-index 100
							.img4 
								left 66%
								//top 15%
								z-index 90
							

				.projects-nav
					display block
					position absolute
					height 80px
					width 180px
					bottom 15%
					text-transform uppercase
					font-size 11px
					letter-spacing 0.1em
					text-align center
					color #FFF
				#prev
					left 1.5%
				#next
					right 1.5%
				.icon-arrow-left, .icon-arrow-right
					font-size 3em
					display inline-block
					vertical-align middle
					padding-right 1px
					padding-left 10px
					color $verde


	#extra
		#divisiones
			position absolute
			width 100%
			height 440px
			left 0
			bottom -340px
			z-index 100
			
			
			.columnas-divisiones
				height 100%
				width 100%
				padding-left 150px
				position relative
				z-index 1

				.custom
					height 100%
				
				.col 
					float left
					height 100%
					margin-right 20px
					width 200px
					background rgba( 255, 255, 255, 0.9 )
					position relative
					bottom 0
					transition all .5s
					border 1px solid rgba(255,255,255,1)
					box-shadow 0px 0px 35px rgba(255,255,255,1)

					.logo-division
						margin-top 5px
						text-align center
						margin-bottom 10px
						display block

					ul 
						font-size 13px
						margin 0
						padding 0

						li 
							a 
								color #a3cada
								display block
								padding-top 4px
								padding-bottom 4px
								padding-left 20px
								padding-right 20px
								&:hover
									color #B3D88C
									background hsla( 200, 80%, 10%, 0.3 )
				
					&:hover
						bottom 40px
						background hsla( 197, 71%, 29%, 1 )

						.inner-link
							color #B3D88C
							background hsla( 200, 80%, 10%, 0.3 )
					.inner-link
						color #a3cada
						display block
						padding-top 4px
						padding-bottom 4px
						padding-left 20px
						padding-right 20px
						cursor pointer
				#inversiones
						img 
							width 77%
					

.italic
	font-style italic

.bold
	font-weight bold

.mascara
	position absolute
	width 200px
	height 320px
.logo-home
	position relative
	left 30%
	background rgba(1,26,39,.6) //hsla( 197, 71%, 29%, 0.5 )
	display block
	width 400px
	height 400px
	border-radius 50%
	//border 1px solid rgba(255,255,255,1)
	box-shadow 0px 0px 35px rgba(255,255,255,1)
	//top 10%
	object
		margin-left -50px
		margin-top 30px
.logo-about
	position absolute
	left -1%
	display block
	width 150px
	height 150px
	top -85px
	
	object
		width 100%
.txt-green
	color $verde
.txt-blue
	color $celeste

.blue 
	background $celeste
.green
	background $verde
.gray
	background $gris
.about-icons
	float left
.center-text
	text-align center
.service 
	display inline-block
	margin 0 3em 1em
	vertical-align: top
	width 350px
	
	.icon
		color $celete
		display block
		font-size 4em
		position relative
		top 0
		transition all .5s ease 

		
	h2 
		font-size 1.2em
		font-weight bold
		margin-bottom 0
		margin-top 10px
		color $oscuro
	a:hover
		text-decoration none
		.icon
			top -10px
			color $naranja
	p 
		
		a:hover
			text-decoration underline 

.progress
	position relative 
	width 257px 
	border 1px solid #ddd 
	padding 1px 
	border-radius 3px
	top -64px
	left 290px
	display none

	.bar
		background-color $celeste 
		width 0% 
		height 20px 
		border-radius 3px

	.percent  
		position absolute 
		display inline-block 
		top 3px 
		left 48% 
		font-size 12px

.field-wrapper
	margin 0
	clear both
	position relative
	overflow visible
	margin 0 0 10px 0

	label
		
		font-weight 700
		display block
		-webkit-user-select none
		-moz-user-select none
		-ms-user-select none
		user-select none
		padding-bottom .2em
		max-width 550px
		color $celeste

	input[type="text"],input[type="password"],input[type="email"],textarea,#uploadFile
		width 90%
		max-width 550px
		min-height 26px
		-moz-appearance none
		-webkit-appearance none
		appearance none
		background-image linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%)
		border 1px solid #c3c3c3
		border-radius 5px
		color #444
		width 100%
	textarea
		width 90%

	input[disabled]
		cursor not-allowed
		background-color #eeeeee !important
		
	textarea
		height 90px
		background-color #fff
	label.error
		display inline
		margin-left 3px
		color $verde
		margin-top -5px
		font-size 12px
		font-weight 700
		background #fff
		border-radius 3px
		padding 2px

.button
	background $verde
	border none
	clear both
	color white
	cursor pointer
	font-size 12px
	height 26px
	margin-right 4px
	width 80px


.p0
	background $verde
	color #FFF
.p0:hover
	background rgb(34, 34, 34)

.fileUpload 
	position relative
	overflow hidden
	margin 0px 5px

	input 
		position absolute
		top 0
		right 0
		margin 0
		padding 0
		font-size 20px
		cursor pointer
		opacity 0
#uploadFile
	width 200px !important

.btn 
	display inline-block
	padding 4px 12px
	margin-bottom 0
	font-size 14px
	line-height 20px
	text-align center
	vertical-align middle
	cursor pointer
	color #333333
	text-shadow 0 1px 1px rgba(255, 255, 255, 0.75)
	background-color #f5f5f5
	background-image linear-gradient(to bottom, #ffffff, #e6e6e6)
	background-repeat repeat-x
	border-color #e6e6e6 #e6e6e6 #bfbfbf
	border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
	border: 1px solid #cccccc
	border-bottom-color #b3b3b3
	//border-radius (4px)
	box-shadow inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)
	
.mensaje
	font-size 14px
	position relative
	top -65px
	left 90px
	max-width 460px
	.ok
		color $celeste
		background #fff
		border-radius 3px
		padding 5px
		font-weight 700
		
	.error
		color red
		background #fff
		border-radius 3px
		padding 5px
		font-weight 700 

	

		

			


@import "responsive.styl"
@import "mCustomScrollbar.styl"

					

				